<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Edit an Ad')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <form th:action="@{/ads/edit}" th:method="post" th:object="${ad}">
        Title:
        <input th:field="*{title}" />
        <br />
        Description:
        <input th:field="*{description}" />
        <br />
        <input type="hidden" th:field="*{id}"  />
        <input type="submit" />
    </form>

    <form th:action="@{/ads/delete}" th:method="post" th:object="${ad}">
        <input type="hidden" th:field="*{id}"  />
        <button id="delete">Delete</button>
    </form>

</main>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>